{% extends '\base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}
{% block content %}
{% for inicio in inicio %}
<section class="hero-01 full-screen py-6" id="hero">
    <div class="hero-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <h1 class="mb-0">{{inicio.titulo}}</h1>
                        <h2 class="base-color">{{inicio.description}}</h2>
                        <p class="mb-0">{{inicio.parrafo}}</p>
                        <ul class="pl-0 my-5">
                            <li class="list-inline-item">
                                <a href="{{inicio.github}}" target="_blank">
                                    <i class="fab fa-github fa-2x" style="color: #24292e;"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{inicio.linkendin}}" target="_blank">
                                    <i class="fab fa-linkedin fa-2x" style="color:#1da1f2 ;"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="{{inicio.twitter}}" target="_blank">
                                    <i class="fab fa-twitter fa-2x" style="color:#1da1f2 ;"></i></a>
                            </li>
                        </ul>
                        <a href="{% static 'cv/cv-julian.pdf' %}" target="_blank" class="pill-button-01 mr-3">Descargar
                            Cv</a>
                        <a href="{% url 'Contacto' %}" class="black-pill-button-01 to-contact">Contactar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<section id="services" class="services-01 py-6 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box text-left">
                    <h3>Servicios</h3>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <!-- Items -->
            {% for servicio in servicio %}
            <div class="col-md-6 col-lg-4">
                <div class="services-box">
                    <img class="svg" src='{{servicio.icons.url}} ' alt="{{servicio.titulo}}" title="{{servicio.titulo}}" >
                    <div class="services-content">
                        <h5 class="services-head">{{servicio.titulo}} </h5>
                        <p class="services-description mb-0">{{servicio.titulo}} </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock content %}
