{% extends 'base.html' %}
{% block title %}Sobre Mi{% endblock %}
{% load static %}
{% block content %}
<section id="about" class="about-01 py-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="{% static 'img/julifoto.png' %}" alt="/">
                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box text-left">
                            <h6>Sobre Mi</h6>
                            <h3>Mi misión es diseñar y desarrollar los mejores sitios web.</h3>
                        </div>
                    </div>
                </div>
                <p class="about-text">Llevo varios años estudiando y practicando de forma autodidacta con varios
                lenguajes de programación, y estoy listo para aportar valor en el mundo laboral.
                Me considero una persona pro-activa con dotes de dirección y gestión</p>
                <div id="count-up">
                    <div class="counted-box-01">
                        <div class="row">
                            <!-- Item-01 -->
                            <div class="col-4 count-item">
                                <div class="count-content">
                                    <span class="timer count-number" data-from="0" data-to="649"
                                        data-speed="5000">0</span>
                                    <p class="mb-0">Proyecto terminado</p>
                                </div>
                            </div>
                            <!-- Item-03 -->
                            <div class="col-4 count-item">
                                <div class="count-content">
                                    <span class="timer count-number" data-from="0" data-to="793"
                                        data-speed="5000">0</span>
                                    <p class="mb-0">Cliente satisfechos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--   Skills Start   -->
        <div class="skills-01">
            <div class="row pt-6">
                <div class="col-lg-6">
                    <div class="title-box text-left">
                        <h6>Mis Habilidades</h6>
                        <h3>He podido experimentar y desarrollar habilidades con este tipo de aprendizaje .</h3>
                    </div>
                    <p class="mb-0">Estaba haciendo todo lo que estaba en mi poder para brindarme todas las experiencias
                        para brindar productos rentables y
                        de alta calidad para satisfacer a mis clientes en todo el mundo.</p>
                </div>
                <div class="col-lg-6">
                    <div id="skills">
                        <div class="col-lg-12 skill-box">
                            <div class="skillbar clearfix " data-percent="75%">
                                <div class="skillbar-title"><span>HTML + CSS</span></div>
                                <div class="skillbar-bar"></div>
                                <div class="skill-bar-percent">
                                    75%
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 skill-box">
                            <div class="skillbar clearfix" data-percent="75%">
                                <div class="skillbar-title"><span>JAVASCRIPT</span></div>
                                <div class="skillbar-bar"></div>
                                <div class="skill-bar-percent">
                                    75%
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 skill-box">
                            <div class="skillbar clearfix" data-percent="25%">
                                <div class="skillbar-title"><span>PYTHON</span></div>
                                <div class="skillbar-bar"></div>
                                <div class="skill-bar-percent">
                                    25%
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 skill-box">
                            <div class="skillbar clearfix" data-percent="75%">
                                <div class="skillbar-title"><span>REACTJS</span></div>
                                <div class="skillbar-bar"></div>
                                <div class="skill-bar-percent">
                                    75%
                                    <div class="arrow"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--    Skills End    -->
        <!--    Resume Start   -->
        <div class="resume-01 pt-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Resumen</h3>
                            <h6>Avaliable For Freelancer</h6>
                    </div>
                </div>
            </div>
            <!--    TimeLine Start   -->
            <div class="row mt-5">
                <div class="col-md-6">
                    <h5 class="title-resume text-center">
                        Certificaciones
                    </h5>
                    <div class="timeline-boxes">
                        <!--    Item 01   -->
                        <div class="timeline-boxe">
                            <div class="timeline-icon"></div>
                            <div class="timeline-contents">
                                <div class="time-line-header">
                                    <h6 class="timeline-title">Responsive Web Design</h6>
                                    <p class="timeline-year">14/02/2020</p>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0">Certificación de desarrollador, que representa aproximadamente 300
                                        horas de trabajo de curso.</p>
                                    <a class="timeline-year"
                                        href="https://freecodecamp.org/certification/fcc87d83ff6-2c46-41f9-8eff-23c40cd1f727/responsive-web-design"
                                        target="_blank">Ver</a>
                                </div>
                            </div>
                        </div>
                        <!--    Item 02   -->
                        <div class="timeline-boxe">
                            <div class="timeline-icon"></div>
                            <div class="timeline-contents">
                                <div class="time-line-header">
                                    <h6 class="timeline-title">JavaScript Algorithms and Data Structures</h6>
                                    <p class="timeline-year">14/02/2020</p>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0">Certificación de desarrollador, que representa aproximadamente 300
                                        horas de trabajo de curso.</p>
                                    <a class="timeline-year"
                                        href="https://freecodecamp.org/certification/fcc87d83ff6-2c46-41f9-8eff-23c40cd1f727/javascript-algorithms-and-data-structures"
                                        target="_blank">Ver</a>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-boxe">
                            <div class="timeline-icon"></div>
                            <div class="timeline-contents">
                                <div class="time-line-header">
                                    <h6 class="timeline-title">Data Visualization</h6>
                                    <p class="timeline-year">27/03/2020</p>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0">DCertificación de desarrollador, que representa aproximadamente 300
                                        horas de trabajo de curso.</p>
                                    <a class="timeline-year"
                                        href="https://freecodecamp.org/certification/fcc87d83ff6-2c46-41f9-8eff-23c40cd1f727/data-visualization"
                                        target="_blank">Ver</a>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-boxe">
                            <div class="timeline-icon"></div>
                            <div class="timeline-contents">
                                <div class="time-line-header">
                                    <h6 class="timeline-title">APIs and Microservices</h6>
                                    <p class="timeline-year">27/03/2020</p>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0">Certificación de desarrollador, que representa aproximadamente 300
                                        horas de trabajo de curso.</p>
                                    <a class="timeline-year"
                                        href="https://freecodecamp.org/certification/fcc87d83ff6-2c46-41f9-8eff-23c40cd1f727/apis-and-microservices"
                                        target="_blank">Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="title-resume text-center">
                        Experiencia
                    </h5>
                    <div class="timeline-boxes">
                        <!--    Item 00   -->
                        <div class="timeline-boxe">
                            <div class="timeline-icon"></div>
                            <div class="timeline-contents">
                                <div class="time-line-header">
                                    <h6 class="timeline-title">Desarrollo de Facemoment (Cofundador)</h6>
                                    <p class="timeline-year">2017 - 2021</p>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0">Creación de la website FaceMoment es una aplicación para comprar y
                                        vender contenido audiovisual.</p>
                                    <a class="timeline-year" href="https://facemoment-50bc7.firebaseapp.com/#/inicio"
                                        target="_blank">Ver</a>
                                </div>
                            </div>
                        </div>
                        <!--    Item 01   -->
                        <div class="timeline-boxe">
                            <div class="timeline-icon"></div>
                            <div class="timeline-contents">
                                <div class="time-line-header">
                                    <h6 class="timeline-title">Desarrollo de mi web (Portfolio - CV)</h6>
                                    <p class="timeline-year">2020 - 2021</p>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0">Creación de la primera versión de DevCordenadas.xyz con la
                                        tecnología Reactjs y GraphQl. Y posteriormente se ha realizado con Python</p>
                                    <a class="timeline-year" href="https://dev-cordenadas.xyz/" target="_blank">Ver</a>
                                </div>
                            </div>
                        </div>
                        <!--    Item 02   -->
                        <div class="timeline-boxe">
                            <div class="timeline-icon"></div>
                            <div class="timeline-contents">
                                <div class="time-line-header">
                                    <h6 class="timeline-title">Colaboración y Desarrollo en la StartUp de Discoolver
                                    </h6>
                                    <p class="timeline-year">2020</p>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0">Inicie la colaboración en remoto durante unos meses, aplicando mis
                                        conocimientos durante un periodo de 6 meses</p>
                                    <a class="timeline-year" href="https://discoolver.com/es" target="_blank">Ver</a>
                                </div>
                            </div>
                        </div>
                        <!--    Item 03   -->
                        <div class="timeline-boxe">
                            <div class="timeline-icon"></div>
                            <div class="timeline-contents">
                                <div class="time-line-header">
                                    <h6 class="timeline-title">Creación del template de la tienda de jabones M&JSoap´s
                                    </h6>
                                    <p class="timeline-year">2021</p>
                                </div>
                                <div class="timeline-content">
                                    <p class="mb-0">Tienda de Jabones artesanales desarrollada con Wordpress</p>
                                    <a class="timeline-year" href="https://myjsoap.xyz/" target="_blank">Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--    TimeLine End   -->
        </div>
        <!--     Resume End    -->
    </div>
</section>
{% endblock content %}