{% load static %}
{% block content %}
        <div id="angela-preloader">
            <div class="preloader">
                <div class="spinner"></div>
                <div class="loader">
                    <span data-text="C" class="letter-animation">C</span>
                    <span data-text="A" class="letter-animation">A</span>
                    <span data-text="R" class="letter-animation">R</span>
                    <span data-text="G" class="letter-animation">G</span>
                    <span data-text="A" class="letter-animation">A</span>
                    <span data-text="N" class="letter-animation">N</span>
                    <span data-text="D" class="letter-animation">D</span>
                    <span data-text="O" class="letter-animation">O</span>
                </div>
            </div>
        </div>
{% endblock content %}