{% load static %}
{% block content %}
<h5 class="title-resume text-center">
    Experiencia
</h5>
<div class="timeline-boxes">
    <!--    Items  -->
    <div class="timeline-boxe">
        <div class="timeline-icon"></div>
        <div class="timeline-contents">
            <div class="time-line-header">
                <h6 class="timeline-title">Desarrollo de Facemoment (Cofundador)</h6>
                <p class="timeline-year">2017 - 2021</p>
            </div>
            <div class="timeline-content">
                <p class="mb-0">Creación de la website FaceMoment es una aplicación para comprar y
                    vender contenido audiovisual.</p>
                <a class="timeline-year" href="https://facemoment-50bc7.firebaseapp.com/#/inicio"
                    target="_blank">Ver</a>
            </div>
        </div>
    </div>

{% endblock content %}