{% load static %}
{% block title %}Gracias por contactar{% endblock %}
{% block content %}
    <section id="contact" class="contact-01 py-6">
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row">
                        <!--  Item 02 -->
                        <div class="col-lg-12">
                            <div class="info-box">
                                <div class="item-icon">
                                    <i class="fab fa-whatsapp-square"></i>
                                </div>
                                <div class="info-text">
                                    <h5 class="mb-0">Whatsapp</h5>
                                    <a href="https://wa.me/+34649599475?text=Necesito_un_presupuesto">Iniciar
                                        conversacion</a>
                                </div>
                            </div>
                        </div>
                        <!--  Item 03 -->
                        <div class="col-lg-12">
                            <div class="info-box">
                                <div class="item-icon">
                                    <i class="fas fa-map-marked-alt"></i>
                                </div>
                                <div class="info-text">
                                    <h5 class="mb-0">Visite la oficina</h5>
                                    <small>Moratalaz, Madrid(España)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-8">
                    <div class="contact-box">
                        <div class="contact-form">
                            <div class="form-group">
                                <p class="text-center">Gracias por contactar</p>                                
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}