{% block content %}
<header id="header" class="header fixed-top">
    <nav id="scrollspy" class="navbar navbar-expand-lg header-nav">
        <div class="container">
            <a class="navbar-brand  mr-lg-3 mr-xl-5 base-color" href="{% url 'Inicio' %}">Dev-Cordenadas</a>
            <!--  Navbar Toggler Button Start -->
            <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#toggle-menu"
                aria-controls="toggle-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lni lni-menu"></span>
            </button>
            <!--  Navbar Toggler Button End -->
            <div class="collapse navbar-collapse" id="toggle-menu">
                <ul class="navbar-nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/'%} active {% endif %}" href="{% url 'Inicio' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/sobre-mi/'%} active {% endif %}" href="{% url 'SobreMi' %}">Sobre mi</a>
                    </li>
                   <!--<li class="nav-item">
                        <a class="nav-link {% if request.path|slice:':6' == '/blog/'%} active {% endif %}" href="{% url 'Blog' %}">Blog</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link {% if request.path|slice:':10' == '/trabajos/'%} active {% endif %}" href="{% url 'Trabajos' %}">Trabajos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/contacto/'%} active {% endif %}" href="{% url 'Contacto' %}">Contacto</a>
                    </li>
            </div>
        </div>
    </nav>
</header>
{% endblock content %}