{% block content %}
<div id="color-switcher" class="color-switcher">
    <div class="text-center color-pallet hide">
        <div class="pallet-button hide">
            <a href="#" class="cp-toggle"><i class="fa fa-cog fa-spin"></i></a>
        </div>
        <h6 class="my-2 color-scheme-title">Versión claro/oscura</h6>
        <ul class="color-scheme list-inline">
            <li class="list-inline-item">
                <a href="javascript:void(0)" class="light-scheme" ><i class="fas fa-sun"></i> Claro</a>
            </li>
            <li class="list-inline-item">
                <a href="javascript:void(0)" class="dark-scheme" ><i class="fas fa-moon"></i> Oscuro</a>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}